@import "tailwindcss";

:root {
  /* Tu paleta de colores personalizada */
  --navy: #162B46;       /* Fondo principal */
  --gold-light: #DFC894; /* Textos destacados, bordes finos */
  --gold-dark: #937737;  /* Botones, acentos fuertes */
  --silver: #B2B2B2;     /* Texto secundario */
}

@theme inline {
  --color-monalisa-navy: var(--navy);
  --color-monalisa-gold: var(--gold-light);
  --color-monalisa-bronze: var(--gold-dark);
  --color-monalisa-silver: var(--silver);

  --font-serif: var(--font-playfair);
  --font-sans: var(--font-lato);
}

body {
  background: var(--navy);
  color: var(--silver);
  font-family: var(--font-sans);
}